@model ProbusTest.Models.Employee

<h2>Edit Employee</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Id"></label>
        <input asp-for="Id" class="form-control" />
        <span asp-validation-for="Id" class="text-danger"></span>
    </div>
   @*  <div class="form-group">
    <label asp-for="Salution"></label>
    <input asp-for="Salution" class="form-control" />
    <span asp-validation-for="Salution" class="text-danger"></span>
    </div> *@
    <div class="form-group">
        <label asp-for="Salution"></label>
        <select asp-for="Salution" class="form-control">
            <option value="">Select Value</option>
            <option value="Mr">Mr</option>
            <option value="Ms">Ms</option>
            <option value="Mrs">Mrs</option>
        </select>
        <span asp-validation-for="Salution" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="EmployeeName"></label>
        <input asp-for="EmployeeName" class="form-control" />
        <span asp-validation-for="EmployeeName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CompanyName"></label>
        <input asp-for="CompanyName" class="form-control" />
        <span asp-validation-for="CompanyName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Location"></label>
        <input asp-for="Location" class="form-control" />
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Department"></label>
        <input asp-for="Department" class="form-control" />
        <span asp-validation-for="Department" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Designation"></label>
        <input asp-for="Designation" class="form-control" />
        <span asp-validation-for="Designation" class="text-danger"></span>
    </div>

@*     <div class="form-group">
        <label asp-for="Gender"></label>
        <input asp-for="Gender" class="form-control" />
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div> *@
    <div class="form-group">
        <label asp-for="Gender"></label>
        <select asp-for="Gender" class="form-control">
            <option value="">Select Value</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="JoiningDate"></label>
        <input asp-for="JoiningDate" class="form-control" />
        <span asp-validation-for="JoiningDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CompanyMobileNo"></label>
        <input asp-for="CompanyMobileNo" class="form-control" />
        <span asp-validation-for="CompanyMobileNo" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="MailId"></label>
        <input asp-for="MailId" class="form-control" />
        <span asp-validation-for="MailId" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
